img {
    width:1500px;
    height:680px;
}
body{
    height: 100%;
    width: 100vh;
    background-color: grey;}
.container{
        display: flex;
        align-items:center;
        justify-content:center;
    }
.calculator{
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    margin-left: 780px;
    margin-top: 150px;
}
.calculator form input{
    margin: 15px;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(254, 254, 254);
    margin-left: 18px;
}
form input.operator{
    background-color: gold;
}
form input.area{
    background-color: rgb(96, 94, 94);
    color: white;
}

   



